[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next.git
[submodule "themes/maupassant-hexo"]
	path = themes/maupassant-hexo
	url = https://github.com/hiberabyss/maupassant-hexo.git
